body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", 'Times New Roman', Times, serif;

  background: linear-gradient(135deg, #1c37af, #733aac);
  color: rgb(247, 247, 247);
}

.container {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 34px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-shadow: 0px 0px 10px rgba(49, 48, 48, 0.94);
}

input {
  padding: 12px;
  width: 320px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-right: 10px;
  font-size: 16px;
}


button {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #ff00cc, #3333ff);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}


pre {
  margin-top: 30px;
  padding: 20px;
  text-align: left;
  background: rgba(0, 0, 0, 0.85);
  color: #f9fcfaf9;
  border-radius: 12px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  white-space: pre-wrap;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}
